################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/LadyBug/LadyBug/obj/Debug
/LadyBug/.vs/LadyBug/v15/Server/sqlite3
/LadyBug/LadyBug/bin/Debug
/.vs
/LadyBug/LadyBug/obj/Release
/LadyBug/.vs/LadyBug/v15
